.send-button,
.clear-button {
  margin-left: 10px;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(42, 145, 34);
  color: white;
  cursor: pointer;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
}

.clear-button {
  background-color: rgb(230, 230, 230);
}

.input-field {
  padding: 12px 15px;
  border-radius: 10px;
  border: solid gray 0.5px;
  border-width: 0.5px;
  font-size: 15px;
  flex-grow: 1;
}

.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
}