.chat-message-text {
  padding: 12px 15px;
  margin: 10px 20px;
  max-width: 300px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238)
}

.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}

.chat-message-user {
  display: flex;
  align-items: start;
  justify-content: end;
}

.chat-message-robot {
  display: flex;
  align-items: start;
  justify-content: start;
}